  <!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Jorge Alberto Ojeda Manjarrez</title>
    <meta name="description" content="Curso de Bootstrap Gratis">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <!-- Estilos en Css -->
    <style>
      .slider{
        background: url("static/images/logo.jpeg");
        background-size: cover;
        background-position: center; 
        height: 1200px;
      }
    </style>   
  </head>
  <body>
     
    <!-- Menú de navegación -->
    <div class="container-fluid bg-inverse fixed-top">
      <nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse container">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="#">
            >
                    BLOG MUCHA LECHE
          </a>   
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav ml-auto text-center">
              <a class="nav-item nav-link active" href="#">INICIO</a>
              <a class="nav-item nav-link mr-md-4" href="{{url_for('proceso')}}">QUIENES SOMOS </a>
              <a class="nav-item nav-link mr-md-4" href="{{url_for('tradicional')}}">LAS TIENDITAS</a>
              <a class="nav-item nav-link mr-md-4" href="{{url_for('customer')}}">REGISTRO</a>

              <div><a class="btn btn-info"  href="https://www.youtube.com/watch?v=4s3kh7ia1dQ">COMO SE HACE LA LECHE</a></div>
            </div>
          </div>
      </nav>
    </div>
    <!-- Fin Menú de navegación -->
    <!-- Sección Slider -->
    <div class="container-fluid slider text-white d-flex flex-column justify-content-center align-items-center">
      <div class="text-center">
        <h3 class="hidden-xs-down"></h3>
        <h1 class="display-4"></h1>
      </div>
      
        </div>
      </form>
    </div>

    </style>   
</head>


  <body style="background-color: black ">

<br>
<br>
<br>

  <center><h1></h1></center>
  <center><h1></h1></center>
  <center><h1 style="color: white ">MUCHA LECHE.</h1></center>
  <br>
  <br>


<center><video src="static/video/leche.mp4" controls autoplay preload muted loop height="800px"

  ></video></center>
<br>
<br>
<br>
                
                
                
                
              
<br>
<br>
<b    <!-- Fin Sección Slider -->
    <!-- Main -->
    <div class="container">
      <center><h2 style="color: white ">Jorge Alberto Ojeda Manjarrez   /
Matrícula: 15015563   / 
Global Business</h2>
      
      
      <hr></center>
        
    <!-- Fin Main -->
    <!-- Footer -->
    
    <!-- Fin Footer -->
      
    
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>