<title>tipos</title>

   <link rel="stylesheet" href="static/css/bootstrap.css">
    <!-- Estilos en Css -->
    <style>
      .slider{
        
        background-size: cover;
        background-position: center; 
        height: 400px;
      }
    </style>   
</head>
<body style="background-color:white">

  <center><h1>QUIENES SOMOS</h1></center>

                
                <a href="#"><h3></h3></a>
                <p>La empresa Mucha Leche consolida su modelo de negocio y pretende abrir nuevos establecimientos, tanto dentro como fuera de su país, recurrir al sistema de franquicias es la mejor opción. 
</p>
                <p>Una franquicia es una forma segura y hasta cierto punto sencilla de acelerar el crecimiento y expansión de muchos negocios; sin embargo, requiere de mucho trabajo, pues deben estar completamente establecidos todos los procesos, y de lo que se trata es estandarizar las diferentes sedes de un mismo negocio.
</p>
                <p>Es entonces que una franquicia permite la entrada de inversionistas sin que estos interfieran en las decisiones de tu compañía, pues tú ya tienes el concepto establecido y probado. Mantener la uniformidad en todos los establecimientos, hace que tu empresa adquiera renombre, experiencia y popularidad, propiciando así el crecimiento y desarrollo.
</p>
                <p>Por ello es indispensable que antes de crecer te enfoques en establecer correcta y claramente todos los procesos de tu empresa; para que de este modo puedas comenzar a desarrollar un manual que permita replicar la idea de negocio.
</p>
                <p>En Mucha Leche te ayudamos a implementar y desarrollar tu modelo de negocio en tu localidad o estado.
</p>

        
                
              </div>
            </div>
            <!-- Fin Artículos -->
            <!-- Artículos -->
            <div class="row mb-5">
              <div class="col-3">
                <img class="img-fluid" src="static/images/1.jpeg" alt="">
                <p class="lead text-muted text-center"></p>
              </div>
              <div class="col-9">
                <a href="#"><h3>MISIÓN</h3></a>
                
                <p>SER UNA EMPRESA LÍDER, COMPROMETIDA CON LA SANA ALIMENTACIÓN DE NUESTROS CONSUMIDORES, OFRECIENDO PRODUCTOS INNOVADORES DE ALTA CALIDAD Y CON LOS NUTRIENTES ESENCIALES, PROMOVIENDO A LA POBLACIÓN UN ESTILO DE VIDA SALUDABLE.
</p>
                
                
              </div>
            </div>
            <!-- Fin Artículos -->
            <!-- Artículos -->
            <div class="row mb-5">
              <div class="col-3">
                <img class="img-fluid" src="static/images/2.jpeg" alt="">
                <p class="lead text-muted text-center"></p>
              </div>
              <div class="col-9">
                <a href="#"><h3>VISIÓN</h3></a>
                
                <p>SER RECONOCIDOS COMO UNA EMPRESA LÁCTEA LÍDER EN SALUD, NUTRICIÓN Y MERCADO DE PROXIMIDAD (COMERCIO JUSTO) A NIVEL NACIONAL, JUNTOS LOGRAREMOS EL INTERÉS RELACIONADO CON LAS PERSONAS.
</p>
                
              </div>
            </div>


            <div class="row mb-5">
              <div class="col-3">
                <img class="img-fluid" src="static/images/logo.jpeg" alt="">
                <p class="lead text-muted text-center"></p>
              </div>
              <div class="col-9">
                <a href="#"><h3>VALORES </h3></a>
                
                <p>1.- EN MUCHA LECHE ESTAMOS CONSCIENTES  DE NUESTRA FRASE FAVORITA “COMERCIO JUSTO, RESPONSABLE Y SOLIDARIO”.
                  <P>2.-COMPROMISO, VALOR COMPARTIDO Y LEALTAD PARA TENER UN CRECIMIENTO A LARGO PLAZO.
</P>
                  <P>3.-DESARROLLO DE NEGOCIO A LARGO PLAZO, SIN PERDER DE VISTA A NUESTROS SOCIOS.
</P>
                  <P>4.-COMPROMISO CON EL MEDIO AMBIENTE PROTEGIENDO A NUESTRAS FUTURAS GENERACIONES.
</P>
                  <P>5.-APORTAR VALOR Y CONOCIMIENTO PARA NUESTROS CONSUMIDORES FINALES.
</P>
</p>
</p>
</p>
                
              </div>
            </div>



           
            <!-- Fin Artículos -->
            <!-- Navegación páginas -->
              <div class="d-flex justify-content-center">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                  <div class="btn-group mr-2" role="group" aria-label="First group">
                    
                  </div>
                </div>
              </div>
            <!-- Fin Navegación páginas -->
          </div>
          <!-- Fin Sección noticias -->
          <!-- Aside -->
          
                    
                    
                  </blockquote>
                </div>
              </div>
            </div>
            <!-- Fin Cards -->
            <!-- Cards -->
            
            <!-- Fin Cards -->
          </div>
          <!-- Fin Aside -->
        </div>
    </div>





</body>
</html>